!.gitignore

#ignore all
*

#unginore folder
!*/

#unignore compile
!*.cpp
!*.cc
!*.c
!*.hpp
!*.hh
!*.h
!Makefile

#unignore gdl_libs
!*.a
!*.so

#unignore 3d and texture
!*.tga
!*.FBX
!*.jpg
!*.md2
!*.max

#unignore auteur
!auteur

#unignore readme (just in case)
!readme*
!README*