!.gitignore

#ignore all
*

#unginore folder
!*/

#unignore IA
!*.py
!*.sh


#unignore compile
!*.cpp
!*.cc
!*.c
!*.hpp
!*.hh
!*.h
!Makefile

#unignore gdl_libs
!*.a
!*.so

#unignore 3d and texture
!*.tga
!*.FBX
!*.jpg
!*.png
!*.wav
!*.md2
!*.max
!*.otf

#unignore auteur
!auteur

#unignore readme (just in case)
!readme*
!README*